.cont {
  overflow: hidden;
  height: 20em;
  width: 20em;
  line-height: 20em;
  display: inline-block;
  margin: .5em;
}

.img {
    height: 20em;
    width: auto;
    margin: -50%;
    text-align: center;
}
